.env.local
/node_modules
/dist
/build
/coverage
.DS_Store
*.log
*.lock
.idea
.vscode
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.zip
*.tar.gz
*.tgz
*.7z
*.exe
*.dll
*.so
*.dylib
*.pem
/.next
